
<nav class="hl_nav">
    <ul class="nav_list" >
        <li class="highlight active" *ngFor="let item of menu">
            <a class="nav_head" href="#">
                <span>{{item.name}}</span>
                <div *ngFor="let items of item.value">
                    <a  routerLink={{items.id}} class="item">{{items.submenu}}</a>
                </div>
            </a>
        </li>
        <li class="right highlight">
            <a class="nav_head" href="#">
                <span>个人中心</span>
            </a>
            <a href="#" *ngIf="test" class="item">登录账号</a>
            <a href="#" class="item">修改资料</a>
            <a href="#" class="item">安全设置</a>
            <a href="#" class="item">退出帐号</a>
        </li>
    </ul>
    <div class="shade"></div>
</nav>
<router-outlet></router-outlet>